* {
  box-sizing: border-box;
}

html {
  --fw-gap: 16px;
  --fw-border-radius: 8px;
  --primary-color: #3162e1;
  --white-color: #fff;

  height: 100%;
  font-size: 70px;
}

@media screen and (width >= 1440px) {
  html {
    font-size: calc(100vw / 14.4);
  }
}

body {
  margin: 0;
  height: 100%;
  font-size: 14px;
  background: #f2f4fa;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  height: 100%;
}

.flex-colum {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-grow {
  flex: 1;
}

.main-body {
  padding: var(--fw-gap);
  border-radius: var(--fw-border-radius);
  background: #fff;
  flex: 1;
  overflow: hidden;
}

#app {
  height: 100%;
}

// 次级按钮样式
.secondary-button {
  background: rgb(20 97 233 / 10%) !important;
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.secondary-button:active {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
}

.main-content {
  border-radius: 4px;
  background: #fff;
  flex: 1 0 0;
}

.cursor {
  &--pointer {
    cursor: pointer;
  }
}

.el-button.is-disabled {
  color: #fff !important;
}
